# cargo-about configuration for license collection
# https://github.com/EmbarkStudios/cargo-about

accepted = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unlicense",
    "Zlib",
    "0BSD",
    "Unicode-3.0",
    "MPL-2.0",
    "CC0-1.0",
    "MIT-0",
    "CDLA-Permissive-2.0",
    "LGPL-2.1-or-later",
]

ignore-build-dependencies = true
ignore-dev-dependencies = true
