[workspace]
members = ["src-tauri"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
lto = "thin"

[profile.bundle-dev]
inherits = "dev"

[profile.bundle-release]
inherits = "release"
